<form [formGroup]="myForm">
  <div formGroupName="name">
    <div>
      <label>Firstname:</label>
      <input type="text" formControlName="firstname">
    </div>
    <div class="error-message" *ngIf="myForm.controls.name.controls.firstname.errors">
      Firstname is required
    </div>

    <div>
      <label>Lastname:</label>
      <input type="text" formControlName="lastname" >
    </div>
    <div class="error-message" *ngIf="myForm.controls.name.controls.lastname.errors">
      Lastname is required
    </div>
  </div>

  <div formGroupName="contact">
    <div>
      <label>Email:</label>
      <input type="text" formControlName="email" >
    </div>
    <div class="error-message" *ngIf="myForm.controls.contact.controls.email.errors">
      Email is required
    </div>

    <div>
      <label>Phone:</label>
      <input type="text" formControlName="phone">
    </div>
  </div>

  <div>
    <label>Address:</label>
    <input type="search" [formControl]="addressControl">
  </div>
</form>