<form [formGroup]="myForm">
  <div>
    <label>Firstname:</label>
    <input type="text" formControlName="firstname">
  </div>
  <div class="error-message" *ngIf="myForm.controls.firstname.errors">
    Firstname is required
  </div>

  <div>
    <label>Lastname:</label>
    <input type="text" formControlName="lastname" >
  </div>
  <div class="error-message" *ngIf="myForm.controls.lastname.errors">
    Lastname is required
  </div>
  
  <div>
    <label>Email:</label>
    <input type="text" formControlName="email" >
  </div>
  <div class="error-message" *ngIf="myForm.controls.email.errors">
    Email is required
  </div>
</form>